footer.bg-light.py-5
    .container.px-4.px-lg-5
        .row.gy-4
            .col-md-6.text-center.text-md-start
                .fw-bold Ground Zero Wrestling
                .small.text-muted Rochester, NY
            .col-md-6.text-center.text-md-end
                .small.text-muted
                    a(href='mailto:info@groundzerowrestling.com') info@groundzerowrestling.com
                .small.text-muted 1237 East Main Street, Entrance C, Suite 218, Rochester, NY 14609
        hr.my-4
        .d-flex.flex-wrap.justify-content-center.gap-3.mb-3
            a.small(href='https://www.twitter.com/ground_zero585', rel='noopener noreferrer', target='_blank') Twitter
            a.small(href='https://www.facebook.com/GroundZero585/', rel='noopener noreferrer', target='_blank') Facebook
            a.small(href='https://www.instagram.com/ground_zero585/', rel='noopener noreferrer', target='_blank') Instagram
            a.small(href='https://www.youtube.com/channel/UC7wVlb9A7Q-yAGxcvpzyUIQ', rel='noopener noreferrer', target='_blank') YouTube
        .small.text-center.text-muted Copyright &copy; Ground Zero Wrestling
