-
    const rosterPeople = [
        {
            name: 'Andrew Mossbrooks',
            image: 'assets/img/roster/andrew.png',
            tagline: '',
            focalScale: 1.05,
            detail: '',
            featured: false,
            rosterRole: 'staff',
        },
        {
            name: 'Billy Rivers',
            image: 'assets/img/roster/billyrivers2.png',
            tagline: '',
            detail: 'Yung Boyz',
            focalScale: 1.1,
            featured: false,
        },
        {
            name: 'Carmelo Lee',
            image: 'assets/img/roster/carmelolee.png',
            tagline: 'Ground Zero Tag Team Champion',
            detail: 'Primetime',
            featured: true,
        },
        {
            name: 'Chael Connors',
            image: 'assets/img/roster/chaelconnors.PNG',
            tagline: 'Ground Zero Champion',
            detail: '',
            featured: true,
        },
        {
            name: 'Cheech',
            image: 'assets/img/roster/cheech.png',
            tagline: '"New Wave"',
            detail: '',
            featured: false,
        },
        {
            name: 'CJ Settles',
            image: 'assets/img/roster/cjsettles.PNG',
            tagline: '"The Headshot King"',
            detail: '',
            focalScale: 1.5,
            featured: false,
        },
        {
            name: 'Cloudy',
            image: 'assets/img/roster/cloudy.png',
            tagline: '"The Rain on Your Parade"',
            detail: 'High Seas',
            featured: false,
        },
        {
            name: 'Colin Delaney',
            image: 'assets/img/roster/ColinDelaney.png',
            tagline: '"Extremely Cute Wrestler"',
            detail: '',
            focalScale: 1.55,
            featured: false,
        },
        {
            name: 'Colt Allen',
            image: 'assets/img/roster/ColtAllen.PNG',
            tagline: '"The Bald Eagle"',
            detail: '',
            featured: false,
        },
        {
            name: 'Godcloud',
            image: 'assets/img/roster/Godcloud.png',
            tagline: '',
            detail: '',
            focalScale: 1.4,
            featured: false,
            rosterRole: 'staff',
        },
        {
            name: 'Harley Barker',
            image: 'assets/img/roster/HarleyBarker.png',
            tagline: '',
            detail: '',
            focalScale: 1.1,
            featured: false,
        },
        {
            name: 'Hellbrid',
            image: 'assets/img/roster/hellbrid.png',
            tagline: '',
            detail: '',
            featured: false,
        },
        {
            name: 'Josh',
            image: 'assets/img/roster/jorsh.png',
            tagline: '',
            detail: 'Yung Boyz',
            focalScale: 1.4,
            featured: false,
        },
        {
            name: 'Julian Jewelz',
            image: 'assets/img/roster/julian.png',
            tagline: '',
            detail: 'Let It Rock',
            focalScale: 1.25,
            featured: false,
        },
        {
            name: 'Julio Diamante',
            image: 'assets/img/roster/julio.png',
            tagline: '"The Diamond"',
            detail: 'Greed',
            focalScale: 1.65,
            featured: false,
        },
        {
            name: 'Keenan Moore',
            image: 'assets/img/roster/keenanmoore.png',
            tagline: '"The Tasty Boy"',
            focalScale: 1.22,
            focalShift: '-20%',
            detail: 'St★rburst',
            featured: false,
        },
        {
            name: 'Kenny St★r',
            image: 'assets/img/roster/kennystar.png',
            tagline: '"The Brightest Light in the Night"',
            detail: 'St★rburst',
            featured: false,
        },
        {
            name: 'Kount C',
            image: 'assets/img/roster/Kount C.png',
            tagline: '',
            detail: '',
            focalScale: 1.05,
            featured: false,
            rosterRole: 'staff',
        },
        {
            name: 'Krist Worthless',
            image: 'assets/img/roster/kristworthless.png',
            tagline: '',
            detail: '',
            focalScale: 1.35,
            featured: false,
        },
        {
            name: 'Mattick',
            image: 'assets/img/roster/Mattick.png',
            tagline: '"The Young Lion of the West"',
            detail: '',
            focalScale: 1.25,
            featured: false,
        },
        {
            name: 'Nick Ando',
            image: 'assets/img/roster/nickando.png',
            tagline: '"Your Captain"',
            detail: 'High Seas',
            focalScale: 1.25,
            featured: false,
        },
        {
            name: 'Price Purgold',
            image: 'assets/img/roster/price.png',
            tagline: '"The Investment"',
            detail: 'Greed',
            focalScale: 1.1,
            featured: false,
        },
        {
            name: 'Ryze',
            image: 'assets/img/roster/ryze.png',
            tagline: '',
            detail: '',
            focalScale: 1.1,
            featured: false,
        },
        {
            name: 'Sa1nt',
            image: 'assets/img/roster/damiensaint.png',
            tagline: 'Ground Zero Tag Team Champion',
            detail: 'Primetime',
            focalScale: 1.25,
            featured: true,
        },
        {
            name: 'Scott Richards',
            image: 'assets/img/roster/scottrichards.png',
            tagline: '"The Scoop"',
            detail: 'Let It Rock',
            focalScale: 1.4,
            featured: false,
        },
        {
            name: 'Will Carroll',
            image: 'assets/img/roster/WillCarroll.png',
            tagline: '',
            detail: '',
            focalScale: 1.4,
            featured: false,
            rosterRole: 'staff',
        },
    ]

-
    const rosterFeatured = rosterPeople.filter((p) => p.featured)

-
    const rosterWrestlers = rosterPeople.filter((p) => (p.rosterRole || 'wrestler') === 'wrestler')
    const rosterStaff = rosterPeople.filter((p) => p.rosterRole === 'staff')
    const rosterReferees = rosterPeople.filter((p) => p.rosterRole === 'referee')
