-
    const rosterPeople = [
        {
            name: 'Andrew Mossbrooks',
            image: 'assets/img/roster/andrew.png',
            tagline: '',
            focalShift: '3%',
            detail: '',
            featured: false,
        },
        {
            name: 'Billy Rivers',
            image: 'assets/img/roster/billyrivers2.png',
            tagline: '',
            detail: 'Yung Boyz',
            featured: false,
        },
        {
            name: 'Carmelo Lee',
            image: 'assets/img/roster/carmelolee.png',
            tagline: 'Ground Zero Tag Team Champion',
            detail: 'Primetime',
            focalShift: '1%',
            featured: true,
        },
        {
            name: 'Chael Connors',
            image: 'assets/img/roster/chaelconnors.PNG',
            tagline: 'Ground Zero Champion',
            focalShift: '1%',
            detail: '',
            featured: true,
        },
        {
            name: 'Cheech',
            image: 'assets/img/roster/cheech.png',
            tagline: '',
            detail: '',
            featured: false,
        },
        {
            name: 'CJ Settles',
            image: 'assets/img/roster/cjsettles.PNG',
            tagline: '',
            detail: '',
            featured: false,
        },
        {
            name: 'Cloudy',
            image: 'assets/img/roster/cloudy.png',
            tagline: '',
            detail: 'High Seas',
            focalShift: '75%',
            featured: false,
        },
        {
            name: 'Colin Delaney',
            image: 'assets/img/roster/ColinDelaney.png',
            tagline: '',
            detail: '',
            focalPosition: 'center 34%',
            focalShift: '10%',
            focalScale: 1.1,
            featured: false,
        },
        {
            name: 'Colt Allen',
            image: 'assets/img/roster/ColtAllen.PNG',
            tagline: '',
            detail: '',
            featured: false,
        },
        {
            name: 'Godcloud',
            image: 'assets/img/roster/Godcloud.png',
            tagline: '',
            detail: '',
            focalPosition: 'center 30%',
            focalShift: '20%',
            focalScale: 1.2,
            featured: false,
        },
        {
            name: 'Harley Barker',
            image: 'assets/img/roster/HarleyBarker.png',
            tagline: '',
            detail: '',
            focalShift: '1%',
            featured: false,
        },
        {
            name: 'Hellbrid',
            image: 'assets/img/roster/hellbrid.png',
            tagline: '',
            focalShift: '1%',
            detail: '',
            featured: false,
        },
        {
            name: 'Josh',
            image: 'assets/img/roster/jorsh.png',
            tagline: '',
            detail: 'Yung Boyz',
            featured: false,
        },
        {
            name: 'Julian Jewelz',
            image: 'assets/img/roster/julian.png',
            tagline: '',
            detail: 'Let It Rock',
            featured: false,
        },
        {
            name: 'Julio Diamante',
            image: 'assets/img/roster/julio.png',
            tagline: '',
            detail: 'Greed',
            focalShift: '25%',
            focalScale: 1.4,
            featured: false,
        },
        {
            name: 'Keenan Moore',
            image: 'assets/img/roster/keenanmoore.png',
            tagline: '',
            focalShift: '-5%',
            focalScale: 1.1,
            detail: 'St★rburst',
            featured: false,
        },
        {
            name: 'Kenny St★r',
            image: 'assets/img/roster/kennystar.png',
            tagline: '',
            detail: 'St★rburst',
            featured: false,
        },
        {
            name: 'Kount C',
            image: 'assets/img/roster/Kount C.png',
            tagline: '',
            detail: '',
            focalShift: '5%',
            featured: false,
        },
        {
            name: 'Krist Worthless',
            image: 'assets/img/roster/kristworthless.png',
            tagline: '',
            detail: '',
            featured: false,
        },
        {
            name: 'Mattick',
            image: 'assets/img/roster/Mattick.png',
            tagline: '',
            detail: '',
            focalShift: '2%',
            featured: false,
        },
        {
            name: 'Nick Ando',
            image: 'assets/img/roster/nickando.png',
            tagline: '',
            detail: 'High Seas',
            focalShift: '10%',
            focalScale: 1.1,
            featured: false,
        },
        {
            name: 'Price Purgold',
            image: 'assets/img/roster/price.png',
            tagline: '',
            detail: 'Greed',
            featured: false,
        },
        {
            name: 'Ryze',
            image: 'assets/img/roster/ryze.png',
            tagline: '',
            detail: '',
            featured: false,
        },
                {
            name: 'Sa1nt',
            image: 'assets/img/roster/damiensaint.png',
            tagline: 'Ground Zero Tag Team Champion',
            detail: 'Primetime',
            featured: true,
        },
        {
            name: 'Scott Richards',
            image: 'assets/img/roster/scottrichards.png',
            tagline: '',
            detail: 'Let It Rock',
            focalShift: '10%',
            focalScale: 1.1,
            featured: false,
        },
        {
            name: 'Will Carroll',
            image: 'assets/img/roster/WillCarroll.png',
            tagline: '',
            detail: '',
            focalScale: 1.2,
            featured: false,
        },
    ]

-
    const rosterFeatured = rosterPeople.filter((p) => p.featured)
