extends layouts/base

append variables
    include includes/roster-data

include mixins/roster-card

append variables
    - pageTitle = 'Roster | Ground Zero Wrestling'
    - pageDescription = 'Athletes, personalities, and teams representing Ground Zero Wrestling.'
    - activeNav = 'roster'

block content
    header.gz-page-header
        .container.px-4.px-lg-5
            h1.display-5 Roster
            p.lead.mb-0 Faces of Ground Zero

    section.page-section
        .container.px-4.px-lg-5
            .row.row-cols-1.row-cols-md-2.row-cols-lg-3.g-4
                each person in rosterPeople
                    +rosterCard(person, 'full')